@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  &.dark {
    ::selection {
      background-color: #334155;
    }
  }
  ::selection {
    background-color: #334155;
    color: #fff;
  }
}

@layer base {
  ::selection {
    @apply bg-zinc-800 text-white;
  }
  body {
    min-height: 100vh;
    font-family: var(--font-work-sans), var(--font-inter);
    -webkit-tap-highlight-color: transparent;
  }
  body,
  .hljs {
    &::-webkit-scrollbar {
      width: 10px;
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #18181ba9;
      border-radius: 1px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #27272a6b;
    }
  }
}

@layer utilities {
  .break-word {
    word-break: break-word;
  }
  .bg-growing-underline {
    background-size: 100% 8%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.2s;
  }
  .line-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
@layer components {
  .center-absolute {
    @apply left-1/2 -translate-x-1/2;
  }
}
